body {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Space Mono", sans-serif;
  background-color: rgb(197, 228, 231);
}
main {
  width: 100%;
}
h1 {
  font-weight: 700;
  text-align: center;
  margin: 2rem 0;
  color: hsl(186, 14%, 43%);
  letter-spacing: 0.5rem;
  line-height: 2.5rem;
}
form {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  padding: 0 2rem 2rem 2rem;
}
.label {
  font-size: 1rem;
  font-weight: 700;
  color: hsl(186, 14%, 43%);
}

.amountWrapper {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 0;
}
.inputAmount {
  border: none;
  background-color: hsl(189, 41%, 97%);
  height: 2.25rem;
  margin: 0.25rem 0;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
  font-family: "Space Mono", sans-serif;
}

img {
  height: 1rem;
  width: 0.75rem;
  position: relative;
  bottom: 2rem;
  left: 1rem;
}

.summaryWrapper {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  padding: 1.5rem;
  border-radius: 1.5rem;
}
.summary h2 {
  color: hsl(172, 67%, 45%);
  font-size: 1.75rem;
}
.summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 1rem;
  color: hsl(186, 14%, 43%);
  font-weight: 700;
}
button {
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
span {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 1.125rem;
}
.tipAmount {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "select select"
    "amount5 amount10"
    "amount15 amount25"
    "amount50 custom";
  gap: 1rem;
  text-align: center;
}

.select {
  grid-area: select;
  text-align: left;
}
.amount1 {
  grid-area: amount5;
}
.amount2 {
  grid-area: amount10;
}
.amount3 {
  grid-area: amount15;
}
.amount4 {
  grid-area: amount25;
}
.amount5 {
  grid-area: amount50;
}
.amount6 {
  grid-area: custom;
}

.radioInput {
  width: 5;
  height: 5;
  display: inline;
}

.radioLabel {
  background-color: hsl(183, 100%, 15%);
  cursor: pointer;
  color: hsl(189, 41%, 97%);
  font-weight: 700;
  display: block;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
}

.amountCustom {
  background-color: hsl(189, 41%, 97%);
  color: hsl(186, 14%, 43%);
}

.radioChecked {
  background-color: hsl(172, 67%, 45%);
}
